/* 
==================================================
for extra small device
==================================================
*/

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }
  .header {
    height: 70px;
    border-bottom: 0.5px solid #fea301;
  }

  .brand .brand-logo > img {
    width: 46px;
  }

  .brand-text,
  .menu-list,
  .navbar-contact-btn {
    display: none;
  }
  .menu-bar {
    display: block;
  }
  /* banner styles */
  .banner {
    flex-direction: column-reverse;
  }

  .banner-image {
    margin-top: 8px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-content .banner-description {
    font-weight: 500;
  }
}
/* 
==================================================
for small/mobile device
==================================================
*/

@media screen and (min-width: 481px) and (max-width: 576px) {
  html {
    font-size: 8px;
  }
  .header {
    height: 70px;
    border-bottom: 0.5px solid #fea301;
  }

  .brand .brand-logo > img {
    width: 46px;
  }

  .brand-text,
  .menu-list,
  .navbar-contact-btn {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  /* banner styles */
  .banner {
    flex-direction: column-reverse;
  }

  .banner-image {
    margin-top: 8px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-content .banner-description {
    font-weight: 500;
  }
}
