/* 
==================================================
for extra small device
==================================================
*/

@media screen and (max-width: 480px) {
  html {
    font-size: 6px;
  }

  .section-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .navbar {
    height: 70px;
    border-bottom: 0.5px solid #fea301;
  }

  .brand .brand-logo > img {
    width: 46px;
  }

  .brand-text,
  .menu-list,
  .navbar-contact-btn {
    display: none;
  }
  .menu-bar {
    display: block;
  }
  /* banner styles */
  .banner {
    flex-direction: column-reverse;
  }

  .banner-image {
    margin-top: 8px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-content .banner-description {
    font-weight: 500;
  }

  /* curriculum styles */
  .curriculum-card-container {
    flex-direction: column;
  }
  .curriculum-card {
    width: 100%;
  }
  .curriculum-card-bottom-btn,
  .our-stories-highlight-card {
    display: none;
  }

  /* footer */
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-nav {
    margin-top: 3.2rem;
  }
}
/* 
==================================================
for small/mobile device
==================================================
*/

@media screen and (min-width: 481px) and (max-width: 576px) {
  html {
    font-size: 8px;
  }

  .section-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .navbar {
    height: 70px;
    border-bottom: 0.5px solid #fea301;
  }

  .brand .brand-logo > img {
    width: 46px;
  }

  .brand-text,
  .menu-list,
  .navbar-contact-btn {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  /* banner styles */
  .banner {
    flex-direction: column-reverse;
  }

  .banner-image {
    margin-top: 8px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-content .banner-description {
    font-weight: 500;
  }

  /* curriculum styles */
  .curriculum-card-container {
    flex-direction: column;
  }
  .curriculum-card {
    width: 100%;
  }
  .curriculum-card-bottom-btn,
  .our-stories-highlight-card {
    display: none;
  }
  .curriculum-card {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  /* footer */
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-nav {
    margin-top: 3.2rem;
  }
}
