/* import google fonts - Quicksand and Raleway */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:wght@100..900&display=swap");

/* font-family: "Quicksand", serif; */
/* font-family: "Raleway", serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", serif;
  font-size: 10px;
}

body {
  background-color: #f7f7f7;
}

:root {
  --text-primary: #111111;
}

/*
=================================================
shared styles
=================================================
*/

.container {
  max-width: 1160px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.text-orange {
  color: #fea301;
}

.text-sky-blue {
  color: #01acfd;
}

.text-aqua-blue {
  color: #05d4df;
}

.text-blue {
  color: #5d58ef;
}

.display-flex {
  display: flex;
}

.section-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-margin {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.section-title {
  font-size: 4.6rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

/*
===============================================
primary btn styles and hover effect 
===============================================
*/

.primary-btn {
  font-family: "Quicksand", serif;
  background-color: #111111;
  border-radius: 1.2rem;
  padding: 1rem 4.5rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-text {
  position: relative;
  z-index: 2;
  transition: all 0.5s linear;
}

.primary-btn::before,
.primary-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: linear-gradient(-90deg, #01acfd, #5d58ef);
  z-index: 1;
  transition: all 200ms ease-in;
}

.primary-btn::before {
  opacity: 0.2;
}

.primary-btn::after {
  transition-delay: 0.2s;
}

.primary-btn:hover::before,
.primary-btn:hover::after {
  top: 0;
}

/* end primary btn */

/*
==================================================
header related styles
==================================================
*/

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand > a {
  text-decoration: none;
}

.brand .brand-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand .brand-logo > img {
  width: 100%;
}

.brand-logo > .brand-text {
  color: var(--text-primary);
  font-size: 3.2rem;
  font-weight: 700;
}

.menu-list {
  display: flex;
  gap: 32px;
}

.menu-list .list-item {
  list-style: none;
}

.menu-list .list-item a.item-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 3px;
}
/* list item in anchor tag hover effect */
.list-item a.item-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.2s ease-out;
}

.list-item a.item-link:hover::after {
  transform: scale(1);
}

.list-item a.item-link.text-orange::after {
  background-color: #fea301;
}
.list-item a.item-link.text-sky-blue::after {
  background-color: #01acfd;
}
.list-item a.item-link.text-aqua-blue::after {
  background-color: #05d4df;
}
.list-item a.item-link.text-blue::after {
  background-color: #5d58ef;
}

/* navbar button styles */
.navbar-contact-btn {
  font-family: "Quicksand", serif;
  font-size: 2rem;
  font-weight: 600;
  background-color: #fea301;
  border-radius: 1.2rem;
  padding: 1rem 5.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.navbar-contact-btn::before,
.navbar-contact-btn::after {
  background: linear-gradient(-90deg, #5d58ef, #ff4500);
}

.menu-bar {
  display: none;
}
.menu-bar > .menu-bar-btn {
  color: var(--text-primary);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 500;
}

/* end navbar */

/*
================================================
banner related styles
================================================
*/

.banner {
  align-items: center;
  gap: 5rem;
}
.banner-content {
  max-width: 64rem;
}
.banner-content .banner-title {
  font-size: 5.6rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 2.4rem;
}

.banner-content .banner-description {
  font-size: 2rem;
  font-weight: normal;
  color: var(--text-primary);
  margin-bottom: 2.4rem;
}
.banner-image {
  max-height: 575px;
}
.banner-image > img {
  width: 100%;
}

/* end banner */

/* 
================================================
standard section related styles
================================================
*/

.curriculum-section {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.curriculum-card-container {
  gap: 2.8rem;
}

.curriculum-card {
  width: 35.8rem;
  max-height: 475px;
  padding: 5rem 4rem;
  border-radius: 1.8rem;
  box-shadow: 0 0 28px 0.95px rgba(0, 0, 0, 0.05) inset;
  text-align: center;
  position: relative;
}

.curriculum-card.card-1 {
  background: linear-gradient(to bottom, #def5ff, #f7f7f7, #f7f7f7);
}
.curriculum-card.card-2 {
  background: linear-gradient(to bottom, #fff4dc, #f7f7f7, #f7f7f7);
}
.curriculum-card.card-3 {
  background: linear-gradient(to bottom, #f2e8ff, #f7f7f7, #f7f7f7);
}

.curriculum-card .card-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #202020;
  margin-top: 30px;
  margin-bottom: 30px;
}

.curriculum-card .card-description {
  font-family: "Raleway", serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #808080;
  margin-bottom: 30px;
  line-height: 2.8rem;
}

.curriculum-card .card-btn {
  font-family: "Quicksand", serif;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 3px;
}

.card-btn.card-btn-1 {
  color: #64c8ff;
}
.card-btn.card-btn-2 {
  color: #f0aa00;
}
.card-btn.card-btn-3 {
  color: #8700ff;
}

/* curriculum card button hover effect */
.curriculum-card .card-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform 0.2s ease-out;
}

.curriculum-card .card-btn:hover::after {
  transform: scale(1);
}

.curriculum-card .card-btn.card-btn-1::after {
  background-color: #64c8ff;
}
.curriculum-card .card-btn.card-btn-2::after {
  background-color: #f0aa00;
}
.curriculum-card .card-btn.card-btn-3::after {
  background-color: #8700ff;
}

.curriculum-card-bottom-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.curriculum-card-bottom-btn .card-bottom-btn {
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  font-weight: 700;
  background-color: #f0aa00;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}

.card-bottom-btn:hover {
  background-color: #f7b51e;
}

/*
================================================
our stories section related styles
================================================
*/

.our-stories {
  background: linear-gradient(
      to top,
      rgba(254, 163, 1, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../assets/bg.png);
}

.our-stories-card-container {
  gap: 1.8rem;
}

.our-stories-highlight-card {
  max-width: 540px;
  max-height: 630px;
  background-color: #ffffff;
  border-radius: 1.6rem;
}

.our-stories-highlight-card img {
  width: 100%;
  border-radius: 1.6rem 1.6rem 0 0;
}

.our-stories-card-content {
  margin: 5.8rem 3.8rem 3.4rem;
  position: relative;
}

.our-stories-card-content .our-stories-card-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000000;
  line-height: 3.8rem;
  margin-bottom: 5rem;
}

.our-stories-card-content .our-stories-card-description,
.publish-date,
.publish-date-small-card {
  font-family: "Raleway", serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  color: #666666;
}

.our-stories-mini-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

.our-stories-mini-card .mini-card {
  background-color: #ffffff;
  border-radius: 1.6rem;
}

.mini-card img {
  width: 100%;
  border-radius: 1.6rem 1.6rem 0 0;
}

.mini-stories-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  line-height: 2.8rem;
  padding: 0 3.8rem;
  padding-top: 4.2rem;
  padding-bottom: 3rem;
}

/* stories date setup in middle image to content */
.our-stories-card-image,
.mini-card-image {
  position: relative;
  display: inline;
}

.publish-date {
  position: absolute;
  color: #ffffff;
  background-color: #3cd8e8;
  padding: 2.2rem 2.8rem;
  border-radius: 4.5rem;
  bottom: 35%;
  left: 30%;
  transform: translate(-50%, 50%);
  line-height: 0;
}

.publish-date-small-card {
  position: absolute;
  color: #ffffff;
  background-color: #3cd8e8;
  line-height: 0;
  padding: 1rem 1.8rem;
  border-radius: 4.5rem;
  bottom: 35%;
  left: 30%;
  transform: translate(-35%, 50%);
  width: 17rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.date-card-bg-1,
.date-card-bg-4 {
  background-color: #95b226;
}
.date-card-bg-2,
.date-card-bg-3 {
  background-color: #5d58f0;
}

.date-card-bg-4 {
  width: 13rem;
}
/* our-stories btn */

.our-stories-btn {
  text-align: center;
}

/* end our stories section */

/* 
=================================================
footer section styles
=================================================
*/

footer.footer {
  background-color: #0a0826;
  color: #ffffff;
}

.footer-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 12rem 1.5rem 12rem;
  margin: 0 auto;
}

.footer-brand-logo img {
  width: 8.2rem;
}

.footer-brand {
  margin-bottom: 3.5rem;
}

.footer-brand a {
  text-decoration: none;
}

.footer-brand-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-brand-logo .footer-brand-text {
  font-size: 4.2rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 4rem;
}

.footer-description {
  font-size: 2rem;
  font-weight: normal;
  max-width: 80%;
  line-height: 3rem;
}

.footer-title-section {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.about-nav ul li {
  list-style: none;
  margin-bottom: 2rem;
}

.about-nav li > a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  transition: 0.2s;
}

.about-nav li > a:hover {
  color: #fea301;
}

.keep-in-touch .footer-icon {
  display: flex;
  gap: 10px;
}
